@font-face {
    font-family: GothamMedium;
    src: url("GothamMedium") format('embedded-opentype'), url('GothamMedium.ttf') format('opentype')
}

#judul {
    text-align: center;
    margin: 5px 0;
    color: darkslategray;
    font-size: 25px;
}

.formulir {
    max-width: 80%;
}

form .button {
    margin-top: 10px;
}

form .asking {
    text-align: center;
    margin-top: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
    min-height: 500px;
}

h1,
h2,
h3,
h4,
b {
    font-family: GothamMedium;
}

body {
    background-color: whitesmoke;
    font-size: 16px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

section {
    margin-left: auto;
    margin-right: auto;
}

.grid {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
}

.col-1 {
    width: 65%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.3334%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 9%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grid-content {
    float: left;
    padding: 30px;
    display: block;
    position: relative;
    align-items: center;
    align-content: center;
}

.formulir {
    background: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    max-width: 100%;
    min-width: 300px;
}

input,
select {
    background: #fff;
    color: grey;
    border: 0;
    padding: 7px 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

input::placeholder {
    color: grey;
}

.button {
    text-align: center;
    color: #fff;
    background-color: lightslategray;
    font-weight: bold;
    text-decoration: none;
}

table {
    width: 100%;
}

img {
    margin-right: auto;
    z-index: -1;
}

aside {
    width: 100%;
    padding: 0;
}

footer {
    background-color: black;
}

.material-icons {
    bottom: 30px;
    float: right;
    outline: none;
    border-radius: 50%;
}

header {
    position: fixed;
    height: 45px;
    width: 100%;
    z-index: 99;
    background: black;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}

.margin-1200 {
    width: 1200px;
    margin: 0 auto;
}

nav a {
    float: left;
    display: block;
    color: whitesmoke;
    font-family: GothamMedium;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

nav ul {
    padding: 0 20px;
    margin: 0px;
    list-style: none;
    position: relative;
    display: inline-table;
}

.nav-right {
    float: right;
}

.nav-left {
    float: left;
}

ul .nav-right {
    float: right!important;
}

.gambartokofiro {
    width: 100%;
}

h2 {
    display: flex;
    flex-direction: row;
}

h2:before,
h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 4px solid #000;
    margin: auto;
}

#about-us {
    height: 2cm;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.box-left {
    display: block;
    height: 478px;
    width: 281px;
    background: #EFEDED;
    margin-top: 80px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px grey;
}

.box-left h3 {
    text-align: center;
    padding: 20px 0 20px 0;
}

.box-left img {
    height: 200px;
}

.box-left a {
    padding: 7px 50px 7px 50px;
    background: white;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}

.box-left a:hover {
    text-decoration: none;
    background: white;
    cursor: pointer;
}

.box-left p {
    font-size: 10px;
    padding-top: 30px;
    margin: 0 auto;
    width: 80%;
}

.gambar {
    margin-bottom: 30px;
}

#container {
    display: flex;
    width: 1100px;
    margin: 0 auto;
}

.box-right {
    z-index: -1;
    width: 1000px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
    margin-left: -30px;
    margin-top: 70px;
    border-radius: 20px;
}

.box-right h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.box-right p {
    margin-left: 70px;
}

.spasi {
    margin-left: 140px!important;
}

.button {
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    padding: 7px 50px 7px 50px;
    background: linear-gradient(4deg, rgba(255, 0, 0, 1) 0%, rgba(240, 240, 240, 1) 100%);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}

.button :hover {
    text-decoration: none;
    background: white;
    cursor: pointer;
}