        html {
            scroll-behavior: smooth;
        }
        
        @font-face {
            font-family: GothamMedium;
            src: url("GothamMedium") format('embedded-opentype'), url('GothamMedium.ttf') format('opentype')
        }
        
        body {
            background-color: darkgrey;
        }
        
        #judul {
            text-align: center;
            margin: 5px 0;
            color: darkslategray;
            font-size: 25px;
        }
        
        .formulir {
            max-width: 80%;
        }
        
        form .button {
            margin-top: 10px;
        }
        
        form .asking {
            text-align: center;
            margin-top: 0px;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }
        
        html,
        body {
            height: 100%;
            margin: 0px;
            scroll-behavior: smooth;
            transition-duration: 5000ms;
            min-height: 500px;
        }
        
        h1,
        h2,
        h3,
        h4 {
            font-family: GothamMedium;
        }
        
        body {
            background-color: whitesmoke;
            font-size: 16px;
        }
        
        a {
            color: darkblue;
            text-decoration: none;
        }
        
        a:hover {
            font-weight: bold;
            text-decoration: underline;
        }
        
        section {
            margin-left: auto;
            margin-right: auto;
        }
        
        .grid {
            width: 100%;
            max-width: 1200px;
            overflow: hidden;
        }
        
        .col-1 {
            width: 65%;
        }
        
        .col-2 {
            width: 50%;
        }
        
        .col-3 {
            width: 33.3334%;
        }
        
        .col-4 {
            width: 25%;
        }
        
        .col-5 {
            width: 20%;
        }
        
        .col-6 {
            width: 9%;
        }
        
        .centered {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        .left {
            float: left;
        }
        
        .right {
            float: right;
        }
        
        .grid-content {
            float: left;
            padding: 30px;
            display: block;
            position: relative;
            align-items: center;
            align-content: center;
        }
        
        .formulir {
            background: whitesmoke;
            padding: 20px;
            border-radius: 15px;
            max-width: 100%;
            min-width: 300px;
        }
        
        input,
        select {
            background: #fff;
            color: grey;
            border: 0;
            padding: 7px 10px;
            border: 1px solid darkgrey;
            border-radius: 5px;
            font-size: 15px;
            width: 100%;
            margin-bottom: 10px;
        }
        
        input::placeholder {
            color: grey;
        }
        
        .button {
            text-align: center;
            color: #fff;
            background-color: lightslategray;
            font-weight: bold;
            text-decoration: none;
        }
        
        table {
            width: 100%;
        }
        
        img {
            margin-right: auto;
            z-index: -1;
        }
        
        aside {
            width: 100%;
            padding: 0;
        }
        
        footer {
            background-color: black;
        }
        
        .material-icons {
            bottom: 30px;
            float: right;
            outline: none;
            border-radius: 50%;
        }
        
        header {
            position: fixed;
            height: 45px;
            width: 100%;
            z-index: 99;
            background: black;
        }
        
        nav {
            margin: auto;
            overflow: hidden;
            position: -webkit-sticky;
            position: fixed;
            top: 0;
            width: auto;
            height: 45px;
            background: fixed;
            background-color: black;
        }
        
        nav a {
            float: left;
            display: block;
            color: whitesmoke;
            font-family: GothamMedium;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .box {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
        
        nav ul {
            padding: 0 20px;
            margin: 0px;
            list-style: none;
            position: relative;
            display: inline-table;
        }
        
        .nav-right {
            float: right;
        }
        
        .nav-left {
            float: left;
        }
        
        ul .nav-right {
            float: right!important;
        }
        
        .gambartokofiro {
            max-width: 100%;
            max-height: 100%;
        }
        
        h2 {
            display: flex;
            flex-direction: row;
        }
        
        h2:before,
        h2:after {
            content: "";
            flex: 1 1;
            border-bottom: 4px solid #000;
            margin: auto;
        }